# ======================================================================================================================
#                                               Sen Infrastructure
#                   Released under the Apache License v2.0 (SPDX-License-Identifier Apache-2.0).
#                                    See the LICENSE.txt file for more information.
#                   © Airbus SAS, Airbus Helicopters, and Airbus Defence and Space SAU/GmbH/SAS.
# ======================================================================================================================

# ======================================================================================================================
# generated execution-related files
# ======================================================================================================================
*.ini
.cache
.scannerwork
__pycache__

# ======================================================================================================================
# generated build-related files
# ======================================================================================================================
cmake-build-*
build
install

# ======================================================================================================================
# generated Conan-related files
# ======================================================================================================================
conan.lock
conanbuildinfo.txt
conaninfo.txt
CMakeUserPresets.json
ConanPresets.json
conan_imports_manifest.txt

# ======================================================================================================================
# generated CMake-related files
# ======================================================================================================================
CMakeCache.txt
CMakeFiles
compile_commands.json
graph_info.json

# ======================================================================================================================
# IDE-related files
# ======================================================================================================================
*~
**/slprj/**
*.slxc
.idea
.vs
.vscode
.devcontainer
/venv/

# ======================================================================================================================
# generated version.h
# ======================================================================================================================
libs/core/include/sen/core/base/version.h

# ======================================================================================================================
# generated templated code
# ======================================================================================================================
apps/cli_package/templates/component/*.h
apps/cli_package/templates/component/*.cpp
apps/cli_package/templates/package/*.h
apps/cli_package/templates/package/*.cpp

# ======================================================================================================================
# generated schemas
# ======================================================================================================================
schemas
examples/schemas
examples/config/base/schema.json

# ======================================================================================================================
# generated documentation files
# ======================================================================================================================
docs/site
docs/snippets
docs/licenses/licensed_code_in_sen.md
docs/doxygen_gen
