@startuml
!$FONT_NAME = "Courier"

skinparam groupInheritance 2
skinparam BackgroundColor "transparent"
skinparam shadowing true
skinparam defaultFontName  $FONT_NAME
skinparam defaultFontSize  12
skinparam RoundCorner 10
skinparam ArrowColor 454645
skinparam FontColor 454645
skinparam SequenceLifeLineBorderColor 454645
skinparam SequenceGroupHeaderFontColor 454645
skinparam SequenceGroupFontColor 454645
skinparam SequenceGroupBorderColor 454645
skinparam SequenceGroupBorderThickness 1
skinparam padding 0
skinparam nodesep 5
skinparam ranksep 20

skinparam ClassAttribute {
  FontName $FONT_NAME
}
skinparam Package {
  FontName $FONT_NAME
}
skinparam Class {
  FontName $FONT_NAME
}
skinparam ClassAttribute {
  FontName $FONT_NAME
}
skinparam ClassStereotype {
  FontName $FONT_NAME
}

{{ visitorResult }}
@enduml
