
//--------------------------------------------------------------------------------------------------------------
// {{ qualType }}
//--------------------------------------------------------------------------------------------------------------

namespace {{ namespace }}
{

std::ostream& operator<<(std::ostream& out, const {{ name }}& val)
{
  if (val.has_value())
  {
    return out << *val;
  }
  return out << "<empty>";
}

} // namespace {{ namespace }}

::sen::ConstTypeHandle<::sen::OptionalType> sen::MetaTypeTrait<{{ qualType }}>::meta()
{
  static auto type = ::sen::OptionalType::make(
  {
    "{{ name }}",
    "{{ senQual }}",
    "{{ description }}",
    ::sen::MetaTypeTrait<{{ qualElementType }}>::meta()
  });
  return type;
}
