
namespace {{ namespace }}
{

{{ blockComment(description, 0) }}
using {{ name }} = std::variant<{{ listOf("{{ type }}", fields) }}>;

{% if publicSymbols %}SEN_EXPORT {% endif %}std::ostream& operator<<(std::ostream& out, const {{ name }}& val);

}

//----------------------------------------------------------------------------------------------------------------------
// {{ name }} type traits
//----------------------------------------------------------------------------------------------------------------------

namespace sen
{

SEN_IMPL_GEN_VARIANT_TRAITS({{ qualType }}, {% if publicSymbols %}true{% else %}false{% endif %})

}
